  <% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>

<h1>Back Exercises</h1>

<div class="sidebar">
  <button><a href="/backs/new">Create</a></button>
</div>

<% @backs.each do |back| %>
<ul>
  <li>
  <a href="/backs/<%= back.id %>"><%= back.exercise_name %></a>
  </li>
</ul>
<% end %>
<br><br>
<a href="users/<%= current_user.id %>"><button>Main Menu</button></a>
