<h1>New Back Exercise</h1>

<form action="/backs" method="POST">
<input type="text" name="exercise_name" placeholder="Exercise Name">
<br><br>
<input type="number" name="repetitions" placeholder="Repetitions">
<br><br>
<input type="text" name="weight" placeholder="Weight">
<br><br>
<input type="text" name="description" placeholder="description">
<br><br>
<input type="submit" value="create">

</form>
