<h1>Welcome, <%= @user.email %></h1>

<h3>Your exercises:</h3>
<br><br>
<ul>
<li><a href="/abdominals">Abs</a>
<li><a href="/backs">Back</a>
<li><a href="/biceps">Biceps</a>
<li><a href="/chests">Chest</a>
<li><a href="/legs">Legs</a>
<li><a href="/shoulders">Shoulders</a>
<li><a href="/triceps">Triceps</a>
</ul>
<br><br>

<button><h3><a href="/logout">Log out</a></h3></button>
