<h1>Leg Exercises</h1>

<% @legs.each do |leg| %>
<ul>
  <li>
<a href="/legs/<%= leg.id %>"><%= leg.exercise_name %></a>
  </li>
</ul>
<% end %>
<br><br>
<a href="/users/<%= current_user.id %>"><button>Main Menu</button></a>
<div class="sidebar">
<button><a href="/legs/new">Create</a></button>
</div>
