<h1>Leg Exercises</h1>
<ul>
<% @legs.each do |leg| %>
<li><a href="/legs/<%= leg.id %>"><%= leg.exercise_name %></a></li>
<% end %>
</ul>
<div class="sidebar">
<button><a href="/legs/new">Create</a></button>
</div>
