<h1>Leg Exercises</h1>

<% @legs.each do |leg| %>
<ul>
  <li>
<a href="/legs/<%= leg.id %>"><%= leg.exercise_name %></a>
  </li>
</ul>
<% end %>

<div class="sidebar">
<button><a href="/legs/new">Create</a></button>
</div>
