<h1>Biceps Exercises</h1>

<% @biceps.each do |bicep| %>
<ul>
  <li>
<a href="/biceps/<%= bicep.id %>"><%= bicep.exercise_name %></a>
  </li>
</ul>
<% end %>

<div class="sidebar">
<button><a href="/biceps/new">Create</a></button>
</div>

