  <% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>

<h1>New Bicep Exercise</h1>

<form action="/biceps" method="POST">
<input type="text" name="exercise_name" placeholder="Exercise Name">
<br><br>
<input type="number" name="repetitions" placeholder="Number of repetitions">
<br><br>
<input type="text" name="weight" placeholder="Weight">
<br><br>
<input type="text" name="description" placeholder="Description">
<br><br>
<input type="submit" value="create">
</form>
