<h1>Tricep Exercises</h1>

<% @triceps.each do |tricep| %>
<ul>
  <li>
    <a href="/triceps/<%= tricep.id %>"><%= tricep.exercise_name %></a>
  </li>
</ul>
<% end %>

<div class="sidebar">
  <button><a href="/triceps/new">Create</a></button>
</div>
