<h1>Abdominal Exercises</h1>

<div class="sidebar">
  <a href="/abdominals/new"><button>create</button></a>
</div>

<ul>  
<% @abs.each do |ab| %>
  <li>
  <a href="/abdominals/<%= ab.id %>"><%= ab.exercise_name %></a>
  </li>
<% end %>
</ul>
<br><br>
<a href="/users/<%= current_user.id %>"><button>Main Menu</button></a>

