<h1>Shoulder Exercises</h1>

<% @shoulders.each do |shoulder| %>
<ul>
  <li>
  <a href="/shoulders/<%= shoulder.id %>"><%= shoulder.exercise_name %></a>
  </li>
</ul>
<% end %>

<div class="sidebar">
<button><a href="/shoulders/new">Create</a></button>
</div>
