<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Physical Fitness Former</h2>

    <div class="content">
      <p>Welcome to your personal physical fitness former. Set goals and achieve them.  Chart your course and set sail for success.  Life is lovely.</p>
    </div>

    <div class="sidebar">
      <h3>Login</h3>
      <form action="/users" method="POST">
        <input type="text" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="submit" value="Login">
      </form><br>
      <h3>Or</h3>
      <br>
      <h3>Sign Up</h3>
      <form action="/users/new" method="POST">
        <input type="text" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="submit" value="Register">
    </div>

  </div>
</div>
