<h1>Chest Exercises</h1>
<ul>
<% @chests.each do |chest| %>
<li><a href="/chests/<%= chest.id %>"><%= chest.exercise_name %></a></li>
<% end %>
</ul>
<div class="sidebar">
<button><a href="/chests/new">Create</a></button>
</div>
