  <% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>

<h1>Chest Exercises</h1>

<% @chests.each do |chest| %>
<ul>
  <li>
<a href="/chests/<%= chest.id %>"><%= chest.exercise_name %></a>
  </li>
</ul>
<% end %>
<br><br>
<a href="/users/<%= current_user.id %>"><button>Main Menu</button></a>
<div class="sidebar">
<button><a href="/chests/new">Create</a></button>
</div>
