<h1>Chest Exercises</h1>

<% @chests.each do |chest| %>
<ul>
  <li>
<a href="/chests/<%= chest.id %>"><%= chest.exercise_name %></a>
  </li>
</ul>
<% end %>

<div class="sidebar">
<button><a href="/chests/new">Create</a></button>
</div>
